<div class="container">
	<div class="row">
		<div class="col-md-12 bg-dark text-white">
			<h2 class="text-center">Employee Magement</h2>
		</div>
		<div class="col-md-4 mt-3">
			<div class="form-group">
				<label>Name <span class="text-danger">*</span></label>
				<input type="text" class="form-control" />
      </div>
				<div class="form-group">
					<label>Salary <span class="text-danger">*</span></label>
					<input type="text" class="form-control" />
      </div>
					<div class="form-group">
						<label>DOJ <span class="text-danger">*</span></label>
						<input type="text" class="form-control" />
      </div>
						<div class="form-group">
							<label>Address <span class="text-danger">*</span></label>
							<input type="text" class="form-control" />
      </div>
							<div class="form-group">
								<label>Contact No. <span class="text-danger">*</span></label>
								<input type="text" class="form-control" />
      </div>
								<div class="form-group">
									<button class="btn btn-primary">Create</button>
								</div>
							</div>
							<div class="col-md-1"></div>
							<div class="col-md-7 mt-3">
								<table class="table table-bordered table-hover table-striped">
									<thead>
										<tr class="bg-dark text-white">
											<th>Name</th>
											<th>Salary</th>
											<th>DOJ</th>
											<th>Address</th>
											<th>Contact No.</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>A</td>
											<td>10000</td>
											<td>10-Sep-2020</td>
											<td>TRT</td>
											<td>456578677</td>
										</tr>
										<tr>
											<td>B</td>
											<td>10000</td>
											<td>10-Sep-2020</td>
											<td>TRT</td>
											<td>456578677</td>
										</tr>
										<tr>
											<td>C</td>
											<td>10000</td>
											<td>10-Sep-2020</td>
											<td>TRT</td>
											<td>456578677</td>
										</tr>
										<tr>
											<td>D</td>
											<td>10000</td>
											<td>10-Sep-2020</td>
											<td>TRT</td>
											<td>456578677</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>